// Colors
// https://colorhunt.co/palette/22272
$colorPrimary: #112D4E;
$colorSecondary: #3F72AF;
$colorAccent: #DBE2EF;
$colorLight: #F9F7F7;

// inverted
// $colorLight: #112D4E;
// $colorAccent: #3F72AF;
// $colorSecondary: #DBE2EF;
// $colorPrimary: #F9F7F7;

// https://colorhunt.co/palette/189745
// $colorPrimary: #eeeeee;
// $colorSecondary: #32e0c4;
// $colorAccent: #393e46;
// $colorLight: #222831;

// inverted
// $colorLight: #eeeeee;
// $colorAccent: #32e0c4;
// $colorSecondary: #393e46;
// $colorPrimary: #222831;

// dark theme (Work in Progress)
// $colorPrimary: #3d5673;
// $colorSecondary: #446285;
// $colorAccent: #404159;
// $colorLight: #121212;

$github: #211F1F;
$instagram: #fb3958;
$linkedin: #2867B2;

$python: #4b8bbe;
$react: #61DBFB;
$javascript: #f7df1e;
$redux: #764abc;
$java: #f89820;
$bootstrap: #563D7C;
$firebase: #FFCA28;
$google-colab: #fdba18;
$c-sharp: #a37bda;