// Colors
$colorPrimary: #112D4E;
$colorSecondary: #3F72AF;
$colorAccent: #DBE2EF;
$colorLight: #F9F7F7;

$github: #211F1F;
$linkedin: #2867B2;
$react: #61DBFB;

// Font
$font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  background-color: $colorLight;
  position: relative;
}

// Breakpoints (the given screen size or larger)
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin media-breakpoint-up($size) {
  @if $size == xs { // shouldn't use because default styles are for xs
    @media (max-width: 575.98px) { @content; }
  }
  @else if $size == sm {
    @media (min-width: $sm) { @content; }
  }
  @else if $size == md {
    @media (min-width: $md)  { @content; }
  }
  @else if $size == lg {
    @media (min-width: $lg)  { @content; }
  }
  @else if $size == xl {
    @media (min-width: $xl)  { @content; }
  }
}

// Layout
section {
  min-height: 100vh;

  .container {
    .section-container {
      padding-bottom:10rem;
      overflow: hidden;

      .section-content {
        float: right;
        width: $md;
        *{
          margin: 0;
          line-height: 1.8rem;
        }
      }
      .section-title {
        color: $colorSecondary;
        text-transform: uppercase;
        display: inline-block;
        margin: 0;
      }
    }


  }
}

// Container
.container {
  margin: 0 auto;
  max-width: 480px;
  @include media-breakpoint-up(md){
    max-width: $sm
  }
  @include media-breakpoint-up(lg){
    max-width: $md
  }
  @include media-breakpoint-up(xl){
    max-width: $lg
  }
}
a {
  text-decoration: none;
}

.icon-transition {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;

  &:hover,&:focus {
    color: $colorSecondary;

    &.fa-github {
      color: $github;
    }
    &.fa-instagram {
      color: $github;
    }
    &.fa-linkedin-in {
      color: $linkedin;
    }
    &.fa-react {
      color: $react;
    }
  }
}

// Header
header {
  position: fixed;
  z-index: 200;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.16);
  width: 100%;
  top: 0;
  transition: top 0.6s;
  padding: 1rem 0;
  overflow: hidden;
  background-color: $colorLight;

  nav {
    margin: 0 3rem;

    .navbar-brand {
      color: $colorPrimary;
      font-size: 1.1rem;

      &:hover,:focus {
        color: $colorSecondary;
      }
    }

    ul.navbar {
      list-style-type: none;
      padding: 0;
      margin: 0;
      float: right;

      li.nav-item {
        display: inline-block;
        margin-right: 1rem;
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }

        a{
          color: $colorPrimary;
          font-size: 1.1rem;

          &:hover,:focus {
            color: $colorSecondary;
          }
        }
      }
    }
  }
}

// Hero
#hero {
  .container {
    padding: 15rem 0 0;

    .hero-container{
      display: inline-block;
      line-height: 1rem;
    }

    h1 {
      margin:0;
      color: $colorPrimary;
      font-size: 2rem;
      @include media-breakpoint-up(md){
        font-size: 6rem;
      }
      @include media-breakpoint-up(sm){
        font-size: 6rem;
      }
    }
    h3 {
      color: $colorSecondary;
      font-size: 1.8rem;
      @include media-breakpoint-up(md){
        font-size: 4rem;
      }
      @include media-breakpoint-up(sm){
        font-size: 4rem;
      }
    }
    .hero-text-container {
      line-height: 1.8rem;
      max-width: 32rem;
      color: $colorSecondary;
    }

  }
}

// Social Media/Networking Side Bar
.icon-bar {
  position: fixed;
  bottom: 0;
  left: 3rem; //same as navbar-brand so it lines up
  display: flex;
  flex-direction: column;
  align-items: center;


  .icon-transition{
    color: $colorPrimary;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

    &:hover,&:focus {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);

    }
  }

  &:after {
    content: "";
    width: 1px;
    height: 25vh;
    background-color: $colorPrimary;
  }
}

// About
#about {
  .container .section-container {
    .section-content {
      p {
        color: $colorSecondary;
        margin-bottom: 2rem;
      }
    }
  }
}

// Skills
#skills {
  .container .section-container {
    .section-content {
      display: flex;

      .area {
        margin-right: 6rem;

        .skill {
          margin-bottom: 1rem;

          &:first-child {
            color: $colorSecondary;
          }
          color: $colorPrimary;
        }
      }
    }
  }
}


// Projects
#projects {
  .container {
    .section-container {
      $translateProject: 3px;
      padding-top: $translateProject;
      .section-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
        grid-gap: .75rem;

        .project{
          background-color: $colorPrimary;
          min-height: 20rem;
          padding: 2rem 1.5rem;
          display: flex;
          overflow: hidden;

          transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;

          .project-inner{
            overflow: hidden;
            overflow-wrap: break-word;
            position: relative;

            .project-title {
              color: $colorLight;
              display: inline-block;
            }
            .project-external {
              float: right;
              display: flex;
              justify-content: space-between;
              width: 50px;

              .icon-transition {
                color: $colorLight;
                font-size: 1.2rem;


                &.fa-external-link-alt:hover,&.fa-github:hover {
                  color: $colorSecondary;
                }
              }
            }
            .project-description {
              color: $colorAccent;
            }
            .project-tech {
              position: absolute;
              bottom: 0;
              padding: 0;
              color: $colorLight;
              font-size: 1.5rem;
              display: flex;
              flex-wrap: wrap-reverse;

              .icon-transition {
                margin-right: 1rem;
              }
            }
          }

          &:hover,:focus {
            z-index: 20;
            box-shadow: 0px 26px 38px rgba(0,0,0,0.5);
            -webkit-transform: translateY(-$translateProject);
               -moz-transform: translateY(-$translateProject);
                -ms-transform: translateY(-$translateProject);
                 -o-transform: translateY(-$translateProject);
                    transform: translateY(-$translateProject);
          }
        }
      }
    }
  }
}


// Footer
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 1.5rem;
  margin-top: auto;

  .text-center {
    text-align: center;
    color: $colorSecondary;
    font-weight: 700;

    .footer-p{
      display: inline-block;
      &:before, &:after {
        content: "";
        width: 10vw;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        // margin: 0 1rem;
        background-color: $colorAccent;
      }
      &:before {
        margin-right: 1rem;
      }
      &:after {
        margin-left: 1rem;
      }
    }
  }
}
