// Colors
$colorPrimary: #112D4E;
$colorSecondary: #3F72AF;
$colorAccent: #DBE2EF;
$colorLight: #F9F7F7;

$github: #211F1F;
$instagram: #fb3958;
$linkedin: #2867B2;

$python: #4b8bbe;
$react: #61DBFB;
$javascript: #f7df1e;
$redux: #764abc;
$java: #f89820;
$bootstrap: #563D7C;
$firebase: #FFCA28;
$google-colab: #fdba18;
$c-sharp: #a37bda;

// Font
$font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  background-color: $colorLight;
  position: relative;
  min-height: 100vh;
}

// Breakpoints (the given screen size or larger)
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


// always go in order from xs --> xl
@mixin media-breakpoint-up($size) {
  @if $size == xs { // shouldn't use because default styles are for xs
    @media (min-width: 100px) { @content; }
  }
  @else if $size == sm {
    @media (min-width: $sm) { @content; }
  }
  @else if $size == md {
    @media (min-width: $md)  { @content; }
  }
  @else if $size == lg {
    @media (min-width: $lg)  { @content; }
  }
  @else if $size == xl {
    @media (min-width: $xl)  { @content; }
  }
  @else {
    @media (min-width: $size)  { @content; }
  }
}

// Container
.container {
  @include media-breakpoint-up(xs){
    margin: 5rem 2rem;
  }
  @include media-breakpoint-up(md){
    margin: 0 auto;
    max-width: $sm
  }
  @include media-breakpoint-up(lg){
    max-width: $md
  }
  @include media-breakpoint-up(xl){
    max-width: $lg
  }
}
a {
  text-decoration: none;
}

// General layout of main page
section {
  @include media-breakpoint-up(xs){
      min-height: 75vh;
    }
    @include media-breakpoint-up(md){
      min-height: 100vh;
    }
  padding-bottom: 2rem;
  .section-container {

    @include media-breakpoint-up(md){
      padding: 10rem 0 5rem;
      overflow: hidden;
    }

    .section-content {
        *{
          margin: 0;
          line-height: 1.8rem;
        }
        @include media-breakpoint-up(md){
          width: $sm;
        }
        @include media-breakpoint-up(lg){
          float: right;
          width: $md;
        }
      }

    .section-title {
      color: $colorSecondary;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 0 3rem;
    }
  }
}


.icon-transition {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;

  &:hover,&:focus {
    color: $colorSecondary;

    &.fa-github {
      color: $github;
    }
    &.fa-instagram {
      color: $instagram;
    }
    &.fa-linkedin-in {
      color: $linkedin;
    }

    &.fa-python {
      color: $python;
    }
    &.fa-js-square {
      color: $javascript;
    }
    &.fa-react {
      color: $react;
    }
    &.fa-redux {
      color: $redux;
    }
    &.fa-java {
      color: $java;
    }
    &.fa-bootstrap {
      color: $bootstrap;
    }
    &.fa-firebase {
      color: $firebase;
    }
    &.fa-google-colab {
      color: $google-colab;
    }
    &.fa-c-sharp {
      color: $c-sharp;
    }
  }
}

// Header
header.header {
  position: fixed;
  z-index: 200;
  // box-shadow: 0 4px 2px -2px rgba(0,0,0,.16);
  width: 100%;
  top: 0;
  transition: top 0.6s;
  padding: 1rem 0;
  overflow: hidden;
  background-color: $colorLight;


  nav {
    margin: 0 3rem;

    .navbar-brand {
      color: $colorPrimary;
      font-size: 1.1rem;

      &:hover,:focus {
        color: $colorSecondary;
      }
    }

    ul.navbar {
      list-style-type: none;
      padding: 0;
      margin: 0;
      float: right;

      li.nav-item {
        display: inline-block;
        margin-right: 1rem;
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }

        a{
          color: $colorPrimary;
          font-size: 1.1rem;

          &:hover,:focus {
            color: $colorSecondary;
          }
        }
      }
    }
  }
}

// Hero
#hero {
  .hero-container{
    display: inline-block;
    line-height: 1rem;
    min-height: 75vh;

    @include media-breakpoint-up(xs){
      padding: 5rem 0 0;

    }
    @include media-breakpoint-up(md){
      padding: 15rem 0 0;
    }

  }

  h1 {
    margin:0;
    color: $colorPrimary;
    font-size: 2rem;
    line-height: normal;
    @include media-breakpoint-up(xs){
      font-size: 3rem;
    }
    @include media-breakpoint-up(md){
      font-size: 4rem;
    }
    @include media-breakpoint-up(lg){
      font-size: 6rem;
    }
  }
  h3 {
    color: $colorSecondary;
    font-size: 1.8rem;
    @include media-breakpoint-up(xs){
      font-size: 2rem;
    }
    @include media-breakpoint-up(md){
      font-size: 3rem;
    }
    @include media-breakpoint-up(lg){
      font-size: 4rem;
    }
  }
  .hero-text-container {
    line-height: 1.8rem;
    max-width: 32rem;
    color: $colorSecondary;

    @include media-breakpoint-up(xs){
      font-size: .8rem;
    }
    @include media-breakpoint-up(md){
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }
}

// Social Media/Networking Side Bar
.icon-bar {
  display: flex;
  align-items: center;

  @include media-breakpoint-up(xs){
    margin-bottom: 2.5rem;
    justify-content: center;
    .icon-transition{
      margin: 0 1.5rem;

    }

  }

  @include media-breakpoint-up(md){
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 3rem; //same as navbar-brand so it lines up
    flex-direction: column;

    .icon-transition{
      margin: 0 0 1.5rem;
    }

    &:after {
      content: "";
      width: 1px;
      height: 25vh;
      background-color: $colorPrimary;
    }

  }

  .icon-transition{
    color: $colorPrimary;
    font-size: 1.5rem;

    &:hover,&:focus {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);

    }
  }


}

// About
#about {
  .section-container {
    .section-content {
      p {
        color: $colorSecondary;
        margin-bottom: 2rem;
      }
    }
  }
}

// Skills
#skills {
  .section-container {
    .section-content {
      display: flex;
      justify-content: space-between;

      .area {
        @include media-breakpoint-up(xs){
          font-size: .8rem;
        }
        @include media-breakpoint-up(md){
          font-size: 1rem;
        }
        .skill {
          margin-bottom: 1rem;

          &:first-child {
            color: $colorSecondary;
          }
          color: $colorPrimary;
        }
      }
    }
  }
}


// Projects
#projects {
  .section-container {
    $translateProject: 3px;
    .section-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
      grid-gap: .75rem;

      .project{
        background-color: $colorPrimary;
        border-radius: 2%;
        // min-height: 20rem;


        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;

        &:hover,&:focus {
          z-index: 20;
          box-shadow: 0px 26px 38px rgba(0,0,0,0.5);
          -webkit-transform: translateY(-$translateProject);
             -moz-transform: translateY(-$translateProject);
              -ms-transform: translateY(-$translateProject);
               -o-transform: translateY(-$translateProject);
                  transform: translateY(-$translateProject);
        }


        .project-inner{
          overflow-wrap: break-word;
          position: relative;
          padding: 2rem 1.5rem;
          // display: flex;
          // align-items: flex-start;
          // flex-direction: column;
          height: calc(100% - 4rem);

          .gatsby-image-wrapper{
            // max-height: 100px;
          }

          .project-title {
            color: $colorLight;
            display: block;
          }
          .project-external {
            text-align: right;

            a + a {
              margin-left: .6rem;
            }

            .icon-transition {
              color: $colorLight;
              font-size: 1.4rem;

              &.fa-external-link-alt:hover,&.fa-github:hover {
                color: $colorSecondary;
              }
            }
          }
          .project-description {
            color: $colorAccent;
            padding-bottom: 3rem;
          }
          .project-tech {
            padding: 0;
            box-sizing: inherit;
            color: $colorLight;
            font-size: 1.6rem;
            display: flex;
            flex-wrap: wrap-reverse;
            position: absolute;
            bottom: 0;


            .icon-transition {
              margin-right: .5rem;
              margin-bottom: 10px;
            }
          }
        }


      }
    }
  }
}

// Contact
#contact {
  .section-container {
    .section-content {
      .contact-container{


        @include media-breakpoint-up(lg){
          max-width: 450px;
        }

        overflow: hidden;

        h3 {
          color: $colorSecondary;
          margin-bottom: 2rem;
        }

        label{
          color: $colorPrimary;
          font-weight: 700;
          font-size: 1.2rem;

          input, textarea {
            background-color: $colorPrimary;
            color: $colorLight;
            display: inline-block;

            width: 100%;
            font-size: 1.2rem;
            border: none;
            margin-bottom: 1rem;
            font-family: $font;
            padding: 20px;
            resize: none;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;


            &::placeholder {
              color: $colorAccent;
            }

          }
        }



        button {
          background-color: $colorPrimary;
          color: $colorLight;
          text-transform: uppercase;
          border: none;
          font-size: 1.5rem;
          padding: 1rem;
          font-weight: 700;
          float: right;


          &:hover,&:focus {
            background-color: lighten($colorPrimary,5%);
          }
        }
      }
    }
  }
}


// Footer
footer.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 1.5rem;

  .text-center {
    display: flex;
    justify-content: center;

    .footer-container {
      .footer-p{
        color: $colorSecondary;
        font-weight: 700;
        &:before, &:after {
          content: "";
          width: 10vw;
          height: 1px;
          display: inline-block;
          vertical-align: middle;
          background-color: $colorAccent;
        }
        &:before {
          margin-right: 1rem;
        }
        &:after {
          margin-left: 1rem;
        }
      }
    }
  }
}
